<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mi Reserva
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mi Reserva</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card-content>
    <table style="width:100%">
      <tr>
        <th colspan="2">
          <ion-card-content>
            <img src="../../assets/iu.jpg" />
          </ion-card-content>
        </th>
      </tr>

      <tr>
        <td>Fecha y hora</td>
        <td style="text-align: center;">Lunes-26-Septiembre-2009 13:20</td>
      </tr>

      <tr>
        <td>Mis invitados</td>
        <td>
          <ul>
            <li>
              Bill Gates@konradlorenz.edu.co
              <ion-icon name="checkmark-outline"></ion-icon>
            </li>
            <li>
              Gates@konradlorenz.edu.co
              <ion-icon name="close-outline"></ion-icon>
            </li>
            <li>
              Bill@konradlorenz.edu.co
              <ion-icon name="ellipsis-horizontal-outline" ></ion-icon>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </ion-card-content>


  <ion-button color="danger" expand="full">
    <ion-icon name="close-circle-outline"></ion-icon> Cancelar
  </ion-button>

</ion-content>