<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Editar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar</ion-title>
    </ion-toolbar>
    <ion-searchbar placeholder="Filtra los espacios/elementos"></ion-searchbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Espacio</ion-card-subtitle>
      <ion-card-title>Mesa de Billar</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button slot="secondary">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button slot="secondary" color="warning">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-card-content>

    <ion-card-content>
      <img src="../../assets/iu.jpg" />
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Descripción</ion-card-subtitle>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam."
      </p>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Recomendaciones</ion-card-subtitle>

      <p>
        Los tacos se deben usar responsablemente. Usted será responsable de
        entregar la misma cantidad de bolas que le entregamos.
      </p>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Datos </ion-card-subtitle>

      <ul>
        <li>Capacidad Máxima: 6 usuarios</li>
        <li>Unidades disponibles: 2</li>
      </ul>
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>Disponibilidad</ion-card-subtitle>
      <table style="text-align: center">
        <tr>
          <th>Día</th>
          <th colspan="7">Horario</th>
        </tr>
        <tr>
          <td><strong>L</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>M</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>I</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>J</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>V</strong></td>
          <td></td>
          <td>8:00AM - 6:00PM</td>
        </tr>
        <tr>
          <td><strong>S</strong></td>
          <td></td>
          <td>8:00AM - 2:00PM</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Elemento</ion-card-subtitle>
      <ion-card-title>Balón de Futbol</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button slot="secondary">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button slot="secondary" color="warning">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-card-content>

    <ion-card-content>
      <img src="../../assets/balon.jpg" />
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Descripción</ion-card-subtitle>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam."
      </p>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Recomendaciones</ion-card-subtitle>

      <p>Los usuarios deben reponer el balón en caso de pérdida o daño.</p>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Datos </ion-card-subtitle>

      <ul>
        <li>Capacidad Máxima: 12 usuarios</li>
        <li>Unidades disponibles: 5</li>
      </ul>
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>Disponibilidad</ion-card-subtitle>
      <table style="text-align: center">
        <tr>
          <th>Día</th>
          <th colspan="7">Horario</th>
        </tr>
        <tr>
          <td><strong>L</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>M</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>I</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>J</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>V</strong></td>
          <td></td>
          <td>8:00AM - 6:00PM</td>
        </tr>
        <tr>
          <td><strong>S</strong></td>
          <td></td>
          <td>8:00AM - 2:00PM</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Subelemento de un espacio</ion-card-subtitle>
      <ion-card-title>NieR: Automata</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button slot="secondary">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button slot="secondary" color="warning">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-card-content>

    <ion-card-content>
      <img src="../../assets/nier.jpg" />
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Descripción</ion-card-subtitle>
      <p>
        "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam."
      </p>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Recomendaciones</ion-card-subtitle>

      <p>Los usuarios deben reponer el balón en caso de pérdida o daño.</p>
    </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Datos </ion-card-subtitle>

      <ul>
        <li>Capacidad Máxima: 2 usuarios</li>
        <li>Unidades disponibles: 1</li>
        <li>Espacio al que pertenece: Salón de videojuegos</li>
      </ul>
    </ion-card-content>
    <ion-card-content>
      <ion-card-subtitle>Disponibilidad</ion-card-subtitle>
      <table style="text-align: center">
        <tr>
          <th>Día</th>
          <th colspan="7">Horario</th>
        </tr>
        <tr>
          <td><strong>L</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>M</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>I</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>J</strong></td>
          <td></td>
          <td>8:00AM - 5:00PM</td>
        </tr>
        <tr>
          <td><strong>V</strong></td>
          <td></td>
          <td>8:00AM - 6:00PM</td>
        </tr>
        <tr>
          <td><strong>S</strong></td>
          <td></td>
          <td>8:00AM - 2:00PM</td>
        </tr>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>