<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="reserva">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Mi reserva</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="invitaciones">
      <ion-icon name="open-outline"></ion-icon>
      <ion-label>Invitaciones</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="disponibilidad">
      <ion-icon name="eye-outline"></ion-icon>
      <ion-label>disponibilidad</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
