<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Mis Invitaciones </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-content>
      <ion-card-subtitle>Invitación Activa</ion-card-subtitle>
      <img src="../../assets/balon.jpg" />
    </ion-card-content>

    <ion-card-content>
      <p>
        • CRISTIAN CAMILO MARTINEZ VARGAS <br>
        • cristianc.marinezv@konradlorenz.edu.co <br>
        • Invitación a jugar Futbol <br>
        • Lunes-26-Septiembre-2009 13:20 <br>
      </p>
    </ion-card-content>

    <ion-card-content>
      <ion-button color="primary" onclick="mostrar()" id="contenido">Aceptar</ion-button>
      <ion-button color="danger" onclick="mostrar()" id="contenido">Rechazar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <p>Invitación Activa</p>
      <img src="../../assets/iu.jpg" />
    </ion-card-content>

    <ion-card-content>
      <p>
        • JUAN ESTBAN ARIAS CAMARGO <br>
        • Invitación a jugar billar <br>
        • juane.ariasc@konradlorenz.edu.co <br>
        • Martes-25-Septiembre-2010 10:50 <br>
      </p>
    </ion-card-content>

    <ion-card-content>
      <ion-button color="primary" onclick="mostrar()" id="contenido">Aceptar</ion-button>
      <ion-button color="danger" onclick="mostrar()" id="contenido">Rechazar</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>