<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Reservas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reservas</ion-title>

    </ion-toolbar>

      <ion-searchbar placeholder="Filtrar reservas"></ion-searchbar>
  </ion-header>
  <ion-fab slot="fixed" horizontal="end" vertical="center">
   <ion-fab-button><ion-icon name="add-outline"></ion-icon></ion-fab-button>
 </ion-fab>


  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Espacio</ion-card-subtitle>
      <ion-card-title>Mesa de Billar</ion-card-title>

    </ion-card-header>
    <ion-card-content>

   <ion-button slot="primary" color="danger">Cancelar Reserva <ion-icon name="remove-circle-outline" slot="secondary"></ion-icon></ion-button>
   </ion-card-content>

   <ion-card-content>
   <ion-card-subtitle>Fecha y hora </ion-card-subtitle>
   <ion-chip>
     <h3>Lunes 13 Septiembre de 10:30 a 11:30</h3>
     <ion-icon name="calendar-outline"></ion-icon>
   </ion-chip>

     </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Participantes</ion-card-subtitle>
      <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label color="secondary">reserva: </ion-label>
          <ion-label>Juan Felipe Betancourt</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>

          <ion-label>Geoffrey Soto</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>

          <ion-label>Cristian Martínez</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>

      <br>
  <ion-button slot="secondary" color="secondary"><ion-icon name="person-add-outline"></ion-icon></ion-button>
   </ion-card-content>



    <ion-card-content>

   <ion-card-subtitle>Datos </ion-card-subtitle>

   <ul>
<li>Capacidad Máxima: 6 usuarios </li>
<li>Usuarios de la reserva: 3 </li>
     </ul>
   </ion-card-content>




  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Elemento</ion-card-subtitle>
      <ion-card-title>UNO</ion-card-title>

    </ion-card-header>
    <ion-card-content>

   <ion-button slot="primary" color="danger">Cancelar Reserva <ion-icon name="remove-circle-outline" slot="secondary"></ion-icon></ion-button>
   </ion-card-content>

   <ion-card-content>
   <ion-card-subtitle>Fecha y hora </ion-card-subtitle>
   <ion-chip>
     <h3>Lunes 13 Septiembre de 10:30 a 11:30</h3>
     <ion-icon name="calendar-outline"></ion-icon>
   </ion-chip>

     </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Participantes</ion-card-subtitle>
      <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label color="secondary">reserva: </ion-label>
          <ion-label>Juan Felipe Betancourt</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>

          <ion-label>Geoffrey Soto</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>

          <ion-label>Cristian Martínez</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>

      <br>
  <ion-button slot="secondary" color="secondary"><ion-icon name="person-add-outline"></ion-icon></ion-button>
   </ion-card-content>



    <ion-card-content>

   <ion-card-subtitle>Datos </ion-card-subtitle>

   <ul>
<li>Capacidad Máxima: 6 usuarios </li>
<li>Usuarios de la reserva: 3 </li>
     </ul>
   </ion-card-content>




  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Espacio</ion-card-subtitle>
      <ion-card-title>Salón de música</ion-card-title>

    </ion-card-header>
    <ion-card-content>

   <ion-button slot="primary" color="danger">Cancelar Reserva <ion-icon name="remove-circle-outline" slot="secondary"></ion-icon></ion-button>
   </ion-card-content>

   <ion-card-content>
   <ion-card-subtitle>Fecha y hora </ion-card-subtitle>
   <ion-chip>
     <h3>Lunes 13 Septiembre de 10:30 a 11:30</h3>
     <ion-icon name="calendar-outline"></ion-icon>
   </ion-chip>

     </ion-card-content>

    <ion-card-content>
      <ion-card-subtitle>Participantes</ion-card-subtitle>
      <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label color="secondary">reserva: </ion-label>
          <ion-label>Juan Felipe Betancourt</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>

          <ion-label>Geoffrey Soto</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>
      <ion-chip>
        <ion-avatar>
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>

          <ion-label>Cristian Martínez</ion-label>
        <ion-icon name="close-circle"></ion-icon>
      </ion-chip>

      <br>
  <ion-button slot="secondary" color="secondary"><ion-icon name="person-add-outline"></ion-icon></ion-button>
   </ion-card-content>



    <ion-card-content>

   <ion-card-subtitle>Datos </ion-card-subtitle>

   <ul>
<li>Capacidad Máxima: 6 usuarios </li>
<li>Usuarios de la reserva: 3 </li>
     </ul>
   </ion-card-content>




  </ion-card>

</ion-content>
